html {
    font-size: 62.5%;
}

body {
    background: #F9F5E9;
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin: 0;
    padding: 0;
    padding: 2.0rem;
    color: #E4002E;
}

a {
    color: #E4002E;
    text-decoration: none;
}


.container {
    margin: 0 auto;
    

    @media (min-width: 568px) {
        width: 400px;
    }

    @media (min-width: 800px) {
        width: 750px;
    }    

    @media (min-width: 1024px) {
        width: 900px;
    }

    @media (min-width: 1200px) {
        width: 1200px;
    }
}

.header {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 4.0rem;
    
    img {
        width: 100px;
        margin: 0 auto;
    }

    @media (min-width: 568px) {
        img {
            width: 80%;
            max-width: 550px;
            margin: 0 auto;
        }    
    }
    
}

.twitter-container {
    
    margin-bottom: 2.0rem;
    line-height: 4.0rem;

    @media (min-width: 568px) {
        font-size: 2.0rem;
        margin-bottom: 4.0rem;
    }
}

.twitter {
    color: #E4002E;
    animation: blink-animation 2s steps(5, start) infinite;
      -webkit-animation: blink-animation 2s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    color: green;
  }
}
@-webkit-keyframes blink-animation {
  to {
    color: green;
  }
}

.content {
    max-width: 500px;
    margin: 0 auto 4.0rem auto;
    text-align: center;
    font-size: 1.4rem;

    @media (min-width: 568px) {
        font-size: 1.6rem;
    }
    
    h2 {
        font-size: 1.6rem;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        margin-top: 2.0rem;

        @media (min-width: 568px) {
            font-size: 1.8rem;
        }
    }

    p {
        margin: 0 0 1.5rem;
    }
}

.button {
    background: #E4002E;
    display: inline-block;
    border-radius: 20px;
    padding: .5rem 2.0rem;
    color: #F9F5E9;
    text-decoration: none;
    
}